@charset "utf-8";

/* 전체 CSS */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: #111111;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.container {
  max-width: 500px;
  min-width: 390px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #668efd;
  border-radius: 8px;
}

/*===================*/

/* Navbar CSS */
.navbar-box {
  display: flex;
  margin-bottom: 25px;
}

.navbar-box .navbtn {
  width: 50px;
  height: 30px;
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #add8e6;
  color: #add8e6;
  background: #ffffff;
  border-radius: 8px;
}

.navbar-box .navbar-time {
  color: #ffffff;
  text-align: center;
  flex-grow: 1;
}

/*===================*/

/* 사진화면 사진 CSS */
.list {
  overflow-x: scroll;
  display: flex;
}
.photo {
  width: 100%;
  height: 100%;
  border-radius: 35px;
}
.photoitem {
  margin: 0 10px;
  width: 170px;
  height: 170px;
  border-radius: 40px;
}
.content {
  margin-top: 70px;
}
.contentitem {
  width: 100%;
  height: 100%;
}

.list::-webkit-scrollbar {
  display: none !important;
}
/*===================*/

/* HOME화면 어플 CSS */
.navbar-nav {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}
.nav-item {
  width: 80px;
  height: 80px;
  margin: 0 20px;
  background-color: #ffffff;
  position: relative;
  border-radius: 8px;
}

.nav-item .nav-link {
  position: absolute;
  left: 25px;
  top: 30px;
}

/*===================*/
.memoitem {
  width: 100%;
}
.memobox {
  resize: none;
  padding: 0;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
}

.inputbox {
  font-size: 20px;
  width: 100%;
  min-height: 50px;
  background-color: #ffffff;
}
.inputbox .btn {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  float: right;
}
.inputbox .selectbox {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.alarmbox {
  margin-top: 20px;
}
.alarmbox .alarmItem {
  height: 40px;
  margin-bottom: 15px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #ffffff;
}
.alarmbox .btn {
  margin-right: 10px;
  font-size: 20px;
  float: right;
}
